<ul class="nav nav-fill">
  <li class="nav-item">
    <a routerLink="/" class="nav-link active">Main</a>
  </li>
  <li class="nav-item">
    <a routerLink="/shop" class="nav-link active">Shop</a>
  </li>
  <li class="nav-item">
    <a routerLink="/login" class="nav-link active">Login form</a>
  </li>
  <li class="nav-item">
    <a routerLink="/register" class="nav-link active">Registration form</a>
  </li>
  <li class="nav-item">
    <a routerLink="/firebase" class="nav-link active">Firebase</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>
