@import "vars";

ul {
  &.list {
    li {
      color: $black;
      padding-left: $li-padding;
      a {
        text-decoration: none;
        &:hover {
          color: $black;
        }
      }
    }
  }
}