$black: #000;
$li-padding: 30px;
$animation-time: 100ms;
$loop-count: 10;
$prefix: kurs;
$table-border-color: $black;

$border-widths: (1px 2px, 3px, 4px);

$borders: (
  thin: (1px, 2px, 3px),
  bold: (1px, 2px, 3px),
);