<li *ngFor="let customer of customers">{{customer.name}} {{customer.lastname}}</li>
<input type="text" [(ngModel)]="customer.name" placeholder="name">
<input type="text" [(ngModel)]="customer.lastname" placeholder="lastname">
<button (click)="pushCustomer()">PUSH</button>
