<ul>
  <li *ngFor="let item of items | async">
    {{ item }}
  </li>
</ul>
<div class="form-group">
  <input type="text" class="form-control" [(ngModel)]="newItem">
</div>
<button class="btn btn-primary" (click)="pushToDb()">Add item to db</button>
