.button {
  border: 0;
  outline: none;
  background-color: cornflowerblue;
  color: white;
  height: 34px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
  cursor: pointer;

  &.outline {
    background-color: transparent;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
  }

  .tool-button {
    height: 20px;
    border-radius: 10px;
    margin: 0 5px;
  }

  &:hover {
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
    position: relative;
    top: -1px;
    left: -1px;
  }
}