@import "../vars";

.modal {
  width: 450px;
  height:80px;
  background-color: $white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.5);
  padding: 15px;
  box-sizing: border-box;
  display: none;

  .modal-footer {
    text-align: right;
  }

  &.show {
    display: block;
  }
}