<form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Username</label>
    <input type="text" name="username" class="form-control" required #username="ngModel"
           [(ngModel)]="loginData.username" placeholder="Username">
    <div class="alert alert-danger" [hidden]="username.valid || username.pristine">Username is required</div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" required #password="ngModel"
           [(ngModel)]="loginData.password" placeholder="Password">
    <div class="alert alert-danger" [hidden]="password.valid || password.pristine">Username is required</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Submit form</button>&nbsp;
  <button type="button" class="btn btn-secondary" [disabled]="!loginForm.form.valid"
          (click)="newForm(); loginForm.reset()">Reset form</button>
</form>
