html {
    background-color: aliceblue;
    font-family: sans-serif;
}

.page-title {
    text-align: center;
}

#app {
    width: 90%;
    margin: 0 auto;
}

.data-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.data-table td,th {
    border: 1px solid #000;
}

.form-row {
    margin-top: 20px;
}
.form-row input {
    width: 240px;
    line-height: 30px;
    font-size: 18px;
}

.modal {
    width: 450px;
    height:80px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.5);
    padding: 15px;
    box-sizing: border-box;
    display: none;
}
.modal .modal-footer {
    text-align: right;
}
.modal.show {
    display: block;
}