<div class="row">
  <div class="col-sm-12 col-md-6">
    <form [formGroup]="regForm">
      <div class="form-group">
        <label>Firstname</label>
        <input type="text" class="form-control" formControlName="firstname">
        <div class="alert alert-danger" [hidden]="hidden('firstname')">This field is required</div>
      </div>

      <div class="form-group">
        <label>Lastname</label>
        <input type="text" class="form-control" formControlName="lastname">
        <div class="alert alert-danger" [hidden]="hidden('lastname')">This field is required</div>
      </div>

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username">
        <div class="alert alert-danger" [hidden]="hidden('username')">This field is required</div>
      </div>

      <div formArrayName="addresses" *ngFor="let item of regForm.get('addresses').controls; let i = index;">
        <div [formGroupName]="i" class="card">
          <div class="card-body">
            <div class="form-group">
              <label>Street</label>
              <input type="text" class="form-control" formControlName="street">
              <div class="alert alert-danger" [hidden]="hidden('street', i)">This field is required</div>
            </div>

            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" formControlName="city">
              <div class="alert alert-danger" [hidden]="hidden('city', i)">This field is required</div>
            </div>

            <div class="form-group">
              <label>Zipcode</label>
              <input type="text" class="form-control" formControlName="zipCode">
              <div class="alert alert-danger" [hidden]="hidden('zipCode', i)">This field is required</div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <button class="btn btn-primary" (click)="addAddress()">Add address</button>
  </div>
</div>
