button {
  border: none;
  border-radius: 2px;
  padding: 0 20px;
  min-width: 120px;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
  font-size: 14px;
  background-color: #f6f6f6;
  height: 25px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: darken(#cacaca, 20%);
  }
}