@mixin center() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal {
  min-width: 300px;
  min-height: 150px;
  border: 1px solid #6c6c6c;
  background-color: #f6f6f6;
  position: absolute;
  padding: 10px;
  border-radius: 4px;
  @include center;
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.5);
  display: none;

  &.show {
    display: block;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 22px;
    color: #6c6c6c;
    cursor: pointer;
    &:hover {
      color: #202020;
    }
  }
}