@import "functions";

@for $i from 1 through 20 {
  $width: $i * 5;
  .gutter-#{$width} {
    padding-left: toPx($width);
  }
}

$gutters-top: 10 20 40 80 160;

@each $gutter in $gutters-top {
  .gutter-top-#{$gutter} {
    padding-top: toPx($gutter);
  }
}