@mixin font($fontfamily, $fontsize, $fontstyle, $color) {
  font-family: $fontfamily;
  font-size: $fontsize;
  font-style: $fontstyle;
  color: $color;
}

@mixin media($maxWidth) {
  @media all and (max-width: $maxWidth) {
    @content;
  }
}