<table border="1">
  <tr *ngFor="let row of shopdata">
    <td *ngFor="let value of row">{{value}}</td>
  </tr>
</table>

<p><input type="text" [(ngModel)]="shopItem[0]" placeholder="Nazwa"></p>
<p><input type="text" [(ngModel)]="shopItem[1]" placeholder="Cena"></p>
<p><input type="text" [(ngModel)]="shopItem[2]" placeholder="Ilość"></p>
<button (click)="saveProduct()">Submit</button>
