<div class="app-input-field" appTooltip="Przykłąd">
  <label>{{placeholder}}</label>
  <input type="text">
  <p i18n="@@exampleText">Zażółć gęślą jaźń</p>
  <input type="checkbox" #check><p>{{check.checked}}</p>
</div>
