.app-input-field {
  label {
    display: block;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #202020;
  }
  input {
    border: 1px solid #202020;
    height: 24px;
    min-width: 200px;
  }
}
