@import "elements/elements";
@import "fonts";
html {
    background-color: aliceblue;
    font-family: Lato;
}

.page-title {
    text-align: center;
    .logo-img {
        width: 60px;
        height: 24px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../../images/bulki.png');
    }
}

#app {
    width: 90%;
    margin: 0 auto;
}

.form-row {
    margin-top: 20px;
}
.form-row input {
    width: 240px;
    line-height: 30px;
    font-size: 18px;
}